@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Camila Isabel Sánchez</h1>
    <img src="https://i.ytimg.com/vi/yEZLZCb4TzA/maxresdefault.jpg" alt="UDLA" class="img-fluid"
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
